pkgbase = android-display-dim
	pkgdesc = Android application utilities.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-display-dim
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = android-utils
	source = android-display-dim-a92db2f7ba81c4ae5c5f0ffd0c5702ab544c098b.zip::https://github.com/themartiancompany/android-display-dim/archive/a92db2f7ba81c4ae5c5f0ffd0c5702ab544c098b.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 3b9c0d50d208dca27a26bb14ea56c276b48d45f00f387b35a3698960b1e30ff0

pkgname = android-display-dim
